<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ product.name }}</title>
</head>
<body>
    {% extends 'catalog/base.html' %}

    {% block content %}
    <h1>{{ product.name }}</h1>
    <img src="{{ product.image.url }}" alt="{{ product.name }}" width="300">
    <p><strong>Описание:</strong> {{ product.description }}</p>
    <p><strong>Цена:</strong> {{ product.price }} ₽</p>
    <a href="{% url 'catalog:home' %}">← Назад к товарам</a>
    {% endblock %}
</body>
</html>
